@model List<Document>

@{
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <h3>Tài liệu chưa duyệt</h3>
    <button class="btn btn-success mb-3" onclick="approveSelectedDocuments()">Duyệt tài liệu đã chọn</button>
    <button class="btn btn-danger mb-3 mx-3" onclick="rejectSelectedDocuments()">Từ chối/Xóa tài liệu đã chọn</button>
    <table id="documentTable" class="table table-striped table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th><input type="checkbox" id="selectAll" /></th>
                <th>Ảnh bìa</th>
                <th>Tiêu đề</th>
                <th>Môn học</th>
                <th>Loại tài liệu</th>
                <th>Người đăng</th>
                <th>Ngày tải lên</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td><input type="checkbox" class="documentCheckbox" value="@doc.Id" /></td>
                    <td>
                        <img referrerPolicy="no-referrer" src="https://drive.google.com/thumbnail?id=@doc.GoogleDriveId&sz=w100-h100" alt="@doc.Title" style="width: 100px; height: auto;" />
                    </td>
                    <td>@doc.Title</td>
                    <td>@doc.GradeSubject?.Name</td>
                    <td>@doc.DocumentType?.Name</td>
                    <td>@doc.User?.UserName</td>
                    <td>@doc.UploadDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (doc.IsApproved)
                        {
                            <span class="badge bg-success">Đã duyệt</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Chưa duyệt</span>
                        }
                    </td>
                    <td>
                        <div class="d-flex flex-column align gap-3">
                            <a target="_blank" class="btn btn-info btn-sm" href="@Url.Action("Ebook", "Document", new { area = "", id = doc.Id })">Chi tiết</a>
                            <a class="btn btn-success btn-sm"
                               href="javascript:void(0);"
                               onclick="approveDocument('@Url.Action("ApproveDocument", "Document", new { id = doc.Id })');">Duyệt</a>
                            <a class="btn btn-danger btn-sm"
                               href="javascript:void(0);"
                               onclick="confirmDelete('@Url.Action("Delete", "Document", new { id = doc.Id })');">Từ chối</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#documentTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                responsive: true,
                pageLength: 10,
                lengthMenu: [5, 10, 25, 50],
                language: {
                    lengthMenu: "Hiển thị _MENU_ mục mỗi trang",
                    zeroRecords: "Không tìm thấy kết quả nào",
                    info: "Hiển thị từ _START_ đến _END_ trong tổng số _TOTAL_ mục",
                    infoEmpty: "Không có dữ liệu",
                    infoFiltered: "(Được lọc từ _MAX_ tổng số mục)",
                    search: "Tìm kiếm:",
                    paginate: {
                        first: "Đầu tiên",
                        last: "Cuối cùng",
                        next: "Tiếp theo",
                        previous: "Trước"
                    },
                    emptyTable: "Không có dữ liệu trong bảng",
                },

                order: [[1, 'asc'], [0, 'desc']],
            });
        });

        // Select All Checkbox
        document.getElementById('selectAll').addEventListener('click', function () {
            var checkboxes = document.querySelectorAll('.documentCheckbox');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        });

        // Approve
        function approveDocument(url) {
            Swal.fire({
                title: 'Xác nhận duyệt tài liệu?',
                text: "Bạn chắc chắn muốn duyệt tài liệu này?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Duyệt',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Tài liệu đang được duyệt...',
                        text: 'Vui lòng chờ trong giây lát.',
                        icon: 'info',
                        toast: true,
                        position: 'bottom-end',
                        showConfirmButton: false,
                        timer: 3000
                    });

                    $.ajax({
                        type: 'Post',
                        url: url,
                        success: function (response) {
                            Swal.fire({
                                title: 'Đã duyệt!',
                                text: 'Tài liệu đã được duyệt.',
                                icon: 'success',
                                toast: true,
                                position: 'bottom-end',
                                showConfirmButton: false,
                                timer: 3000
                            }).then(() => {
                                location.reload();
                            });
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                title: 'Lỗi!',
                                text: 'Có lỗi xảy ra khi duyệt tài liệu.',
                                icon: 'error',
                                toast: true,
                                position: 'bottom-end',
                                showConfirmButton: false,
                                timer: 3000
                            });
                        }
                    });
                }
            });
        }

        // Approve Selected Documents
        function approveSelectedDocuments() {
            var selectedIds = [];
            var checkboxes = document.querySelectorAll('.documentCheckbox:checked');
            for (var checkbox of checkboxes) {
                selectedIds.push(checkbox.value);
            }

            if (selectedIds.length > 0) {
                Swal.fire({
                    title: 'Bạn có chắc chắn?',
                    text: `Bạn có chắc chắn muốn duyệt ${selectedIds.length} tài liệu đã chọn?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Có, duyệt chúng!',
                    cancelButtonText: 'Không, giữ lại!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Tài liệu đang được duyệt...',
                            text: 'Vui lòng chờ trong giây lát.',
                            icon: 'info',
                            toast: true,
                            position: 'bottom-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        $.ajax({
                            type: 'Post',
                            url: '@Url.Action("ApproveSelectedDocuments", "Document")',
                            data: JSON.stringify(selectedIds),
                            contentType: 'application/json; charset=utf-8',
                            success: function () {
                                Swal.fire({
                                    title: 'Đã duyệt!',
                                    text: 'Các tài liệu đã được duyệt.',
                                    icon: 'success',
                                    toast: true,
                                    position: 'bottom-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                }).then(() => {
                                    location.reload();
                                });
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Lỗi!',
                                    text: 'Có lỗi xảy ra khi duyệt tài liệu.',
                                    icon: 'error',
                                    toast: true,
                                    position: 'bottom-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                });
                            }
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Chưa chọn tài liệu',
                    text: 'Vui lòng chọn ít nhất một tài liệu để duyệt.',
                    icon: 'warning',
                    toast: true,
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 3000
                });
            }
        }


        // Delete/Reject
        function confirmDelete(url) {
            Swal.fire({
                title: 'Bạn có chắc chắn?',
                text: "Tài liệu này sẽ bị xóa vĩnh viễn!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có, xóa nó!',
                cancelButtonText: 'Không, giữ nó!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Tài liệu đang được xóa...',
                        text: 'Vui lòng chờ trong giây lát.',
                        icon: 'info',
                        toast: true,
                        position: 'bottom-end',
                        showConfirmButton: false,
                        timer: 3000
                    });

                    $.ajax({
                        type: 'Delete',
                        url: url,
                        success: function (response) {
                            Swal.fire({
                                title: 'Đã xóa!',
                                text: 'Tài liệu đã được xóa.',
                                icon: 'success',
                                toast: true,
                                position: 'bottom-end',
                                showConfirmButton: false,
                                timer: 3000
                            }).then(() => {
                                location.reload();
                            });
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                title: 'Lỗi!',
                                text: 'Có lỗi xảy ra khi xóa tài liệu.',
                                icon: 'error',
                                toast: true,
                                position: 'bottom-end',
                                showConfirmButton: false,
                                timer: 3000
                            });
                        }
                    });
                }
            });
        }

        // Delete/Reject Selected Documents
        function deleteSelectedDocuments() {
            var selectedIds = [];
            var checkboxes = document.querySelectorAll('.documentCheckbox:checked');
            for (var checkbox of checkboxes) {
                selectedIds.push(checkbox.value);
            }

            if (selectedIds.length > 0) {
                Swal.fire({
                    title: 'Bạn có chắc chắn?',
                    text: `Bạn có chắc chắn muốn xóa ${selectedIds.length} tài liệu đã chọn?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Có, xóa chúng!',
                    cancelButtonText: 'Không, giữ lại!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Tài liệu đang được xóa...',
                            text: 'Vui lòng chờ trong giây lát.',
                            icon: 'info',
                            toast: true,
                            position: 'bottom-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        $.ajax({
                            type: 'Delete',
                            url: '@Url.Action("DeleteSelectedDocuments", "Document")',
                            data: JSON.stringify(selectedIds),
                            contentType: 'application/json; charset=utf-8',
                            success: function () {
                                Swal.fire({
                                    title: 'Đã xóa!',
                                    text: 'Các tài liệu đã được xóa.',
                                    icon: 'success',
                                    toast: true,
                                    position: 'bottom-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                }).then(() => {
                                    location.reload();
                                });
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Lỗi!',
                                    text: 'Có lỗi xảy ra khi xóa tài liệu.',
                                    icon: 'error',
                                    toast: true,
                                    position: 'bottom-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                });
                            }
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Chưa chọn tài liệu',
                    text: 'Vui lòng chọn ít nhất một tài liệu để xóa.',
                    icon: 'warning',
                    toast: true,
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 3000
                });
            }
        }
    </script>
}

<style>
    td {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        max-width: 150px;
    }
</style>