@using Microsoft.AspNetCore.Identity
@model IEnumerable<Document>
@inject UserManager<User> UserManager
@{
    Layout = "_Layout";
    ViewBag.Title = "Kết quả tìm kiếm theo từ khóa: " + ViewBag.Keyword;
}

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <h4>Tìm kiếm tài liệu với từ khóa</h4>
    <strong>Từ khóa:</strong>
    <span class="btn btn-sm btn-outline-info">@ViewBag.Keyword</span>
    <hr />
    @if (ViewBag.Message != null)
    {
        <p class="alert alert-warning">@ViewBag.Message</p>
    }

    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var doc in Model)
            {
                <div class="col-12 mb-3">
                    <div class="card border-info mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                @{
                                    var thumbnailLink = $"https://drive.google.com/thumbnail?sz=w200&id={doc.GoogleDriveId}";
                                    var defaultImage = "/pdf-image.png";
                                }
                                <a href="/document/detail/@doc.Id" target=_blank>
                                    <img 
                                        referrerPolicy="no-referrer" 
                                        src="@thumbnailLink" 
                                        alt="@doc.Title"
                                        onerror="this.onerror=null; this.src='@defaultImage';"
                                    />
                                </a>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <a href="/document/detail/@doc.Id" target=_blank>
                                        <h4><strong class="text-uppercase card-title">@doc.Title</strong></h4>
                                    </a>
                                    <span class="text-uppercase">
                                        Người đăng:
                                        <span class="text-danger mr-3">
                                            @if (await UserManager.IsInRoleAsync(doc.User, "Admin"))
                                            {
                                                @:Admin
                                            }
                                            else
                                            {
                                                @($"{doc.User.LastName} {doc.User.FirstName}")
                                            }
                                        </span>
                                        Ngày đăng:
                                        <span class="text-primary mr-3">@doc.UploadDate.ToString("dd/MM/yyyy")</span>
                                        Lượt xem:
                                        <span class="text-primary mr-3">@doc.Views</span>
                                        Lượt tải:
                                        <span class="text-primary mr-3">@doc.Downloads</span>
                                    </span>
                                    <hr/>
                                    <span class="card-text">@doc.Description</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
