@using StudyResource.ViewModels.Document
@model CreateDocumentViewModel

@{
    Layout = "_Layout";
}

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <h3>Tạo tài liệu</h3>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Tiêu đề</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Mô tả</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FileUpload" class="form-label">Tải lên tài liệu</label>
            <input asp-for="FileUpload" class="form-control" type="file" />
            <span asp-validation-for="FileUpload" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="GradeId" class="form-label">Lớp học</label>
            <select asp-for="GradeId" class="form-select" id="gradeSelect">
                <option value="">--Chọn lớp học--</option>
                @foreach (var grade in ViewBag.Grades)
                {
                    <option value="@grade.Value">@grade.Text</option>
                }
            </select>
            <span asp-validation-for="GradeId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="GradeSubjectId" class="form-label">Môn học</label>
            <select asp-for="GradeSubjectId" class="form-select" id="gradesubjectSelect">
                <option value="">--Chọn môn học--</option>
            </select>
            <span asp-validation-for="GradeSubjectId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DocumentTypeId" class="form-label">Loại tài liệu</label>
            <select asp-for="DocumentTypeId" class="form-select">
                <option value="">--Chọn loại tài liệu--</option>
                @foreach (var grade in ViewBag.DocumentTypes)
                {
                    <option value="@grade.Value">@grade.Text</option>
                }
            </select>
            <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SetId" class="form-label">Bộ sách</label>
            <select asp-for="SetId" class="form-select">
                <option value="">--Chọn bộ sách--</option>
                @foreach (var set in ViewBag.Sets)
                {
                    <option value="@set.Value">@set.Text</option>
                }
            </select>
            <span asp-validation-for="SetId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Tạo</button>
        <a asp-area="Admin" asp-controller="Document" asp-action="Index" class="btn btn-secondary mx-3">Quay lại</a>
    </form>
</div>

@section Scripts {
    <script>
        const gradeSubjects = @Html.Raw(Json.Serialize(ViewBag.GradeSubjectsJson));

        document.getElementById("gradeSelect").addEventListener("change", function () {
            const gradeId = this.value;
            const gradesubjectSelect = document.getElementById("gradesubjectSelect");

            gradesubjectSelect.innerHTML = '<option value="">--Chọn môn học--</option>';

            const filteredSubjects = gradeSubjects.filter(gs => gs.gradeId == gradeId);

            filteredSubjects.forEach(gs => {
                const option = document.createElement("option");
                option.value = gs.id;
                option.textContent = gs.name;
                gradesubjectSelect.appendChild(option);
            });
        });
    </script>

    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
            Toast.fire({
                icon: "success",
                title: "@TempData["SuccessMessage"]"
            });
        </script>
    }
}

<style>
    .form-select {
        --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        display: block;
        width: 100%;
        padding: 8px 38px 8px 16px;
        -moz-padding-start: 13px;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #5A6A85;
        background-color: transparent;
        background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
        background-repeat: no-repeat;
        background-position: right 16px center;
        background-size: 16px 12px;
        border: var(--bs-border-width) solid #DFE5EF;
        border-radius: 7px;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
    }
</style>